@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Global container spacing */
.container-x {
  padding-left: 1rem; /* px-16 */
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container-x {
    padding-left: 2rem; /* xl:px-32 */
    padding-right: 2rem;
  }
}

@media (min-width: 1536px) {
  .container-x {
    padding-left: 3.75rem; /* 2xl:px-60 */
    padding-right: 3.75rem;
  }
}

:root {
  --color-primary: 79 70 229; /* indigo-600 */
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
}

.text-primary {
  color: rgb(var(--color-primary) / 1);
}
.bg-primary {
  background-color: rgb(var(--color-primary) / 1);
}

.text-primary {
  color: rgb(var(--color-primary) / 1);
}

.text-primary-hover:hover {
  color: rgb(var(--color-primary) / 0.8); /* lighter shade on hover */
}
